

<form method="POST">
  <input type="text" name="title" placeholder="title" size="80">
  <input type="text" name="author" placeholder="author" size="80">
  <input type="text" name="description" placeholder="description" size="80">
  <input type="text" name="issueDate" placeholder="issueDate" size="80">
  <input type="text" name="isbn" placeholder="isbn" size="80">
  <input type="text" name="tags" placeholder="tags" size="80">
  <input type="text" name="price" placeholder="price" size="80">
  <br>
  <select name="category">
  <option value="programming-languages">programming languages</option>
  <option value="web-development">web development</option>
  <option value="databases">databases</option>
  <option value="software-engineering">software engineering</option>
  <option value="cloud-computing">cloud computing</option>
  <option value="operating-systems">operating systems</option>
  <option value="networking">networking</option>
  </select>
  <br>
  <input type="text" name="image" placeholder="image name" size="80">
  <input type="text" name="url" placeholder="title separated by dashes" size="80">
  <input type="submit" value="add book">
</form>
{{success}}
