<nav class="category_nav">
  <ul>
    <li> <a href="http://localhost:3000/store/category/programming-languages">Programming languages</a> </li>
    <li> <a href="http://localhost:3000/store/category/web-development">Web development</a> </li>
    <li> <a href="http://localhost:3000/store/category/databases">Databases</a> </li>
    <li> <a href="http://localhost:3000/store/category/software-engineering">Software Engineering</a> </li>
    <li> <a href="http://localhost:3000/store/category/cloud-computing">Cloud Computing</a> </li>
    <li> <a href="http://localhost:3000/store/category/operating-systems">Operating Systems</a> </li>
    <li> <a href="http://localhost:3000/store/category/networking">Networking</a> </li>
  </ul>
</nav>
