<nav class="category_nav">
  <ul>
    <li> <a href="http://www.localhost:3000/store/programming-languages">Programming languages</a> </li>
    <li> <a href="http://www.localhost:3000/store/web-development">Web development</a> </li>
    <li> <a href="http://www.localhost:3000/store/databases">Databases</a> </li>
    <li> <a href="http://www.localhost:3000/store/software-engineering">Software Engineering</a> </li>
    <li> <a href="http://www.localhost:3000/store/cloud-computing">Cloud Computing</a> </li>
    <li> <a href="http://www.localhost:3000/store/operating-systems">Operating Systems</a> </li>
    <li> <a href="http://www.localhost:3000/store/networking">Networking</a> </li>
  </ul>
</nav>
