<!doctype html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width">
  <meta charset="UTF-8">
  <title>Best online book store</title>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/main.css">
</head>

<body>
  {{{_sections.header}}}

  <div id="wrapper">
    {{{_sections.categoriesHeader}}}

    <div id="innerwrapper">

      {{{body}}}
    </div>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  {{{_sections.jquery}}}

  <footer>
    Copyright © 2016 E-commerce project Inc. All Rights Reserved.
  </footer>
</body>
</html>
