{{#section 'header'}}
  {{>header}}
{{/section}}

{{#section 'categoriesHeader'}}
  {{>categoriesHeader}}
{{/section}}

<div id="main">
  <h2 class="checkout_title">Enter your shipping details</h2>

  <form id="submission_form" method="post">
    <select name="title">
      <option name="default">Title</option>
      <option name="mr">Mr.</option>
      <option name="mrs">Mrs.</option>
    </select>
    <input type="text" name="name" placeholder="first name" required>
    <input type="text" name="surname" placeholder="last name" required>
    <input type="text" name="address" placeholder="address" required>
    <input type="text" name="city" placeholder="city" required>
    <input type="text" name="postcode" placeholder="postcode" required>
    <input type="text" name="phonenumber" placeholder="phone number" required>

    <select name="cardtype">
      <option name="default">Choose card</option>
      <option name="credit">Credit</option>
      <option name="debit">Debit</option>
    </select>
    <input type="text" name="nameoncard" placeholder="Name as appears on the card" required>
    <input type="text" name="cardnumber" placeholder="Card number" required>
    <input type="text" name="expirydate" placeholder="Expiry date" required>
    <input type="text" name="secretcode" placeholder="Secret code on the back" required>


    <input type="submit" value="Buy">
  </form>
    <p class="total_amount_to_pay">Total amount to pay: £{{priceToPay}}</p>
</div>
