h1,a,td{
  color: rgb(70, 70, 70);
}
html, body{
  height: 100%;
}
a{
  text-decoration: none;
}

#wrapper {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  min-height: 100%;
}
#wrapper:after{
  content: " ";
  display: table;
  clear: both;
}
#innerwrapper {
  margin:8px;
}


/* Header */
.topbar{
  background: #E8E8E8;
  width:100%;
}
.authentication{
  padding-top: 10px;
  text-align: right;
}
.authentication a{
  color: #777;
  text-decoration: underline;
  padding-left: 10px;
}
.topbar-content .search{
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin-top: 15px;
}
.search{
  text-align: right;
  float: right;
  width: 90%;
}
.product_search input {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
}
.product_search select{
  color: #777;
  -moz-appearance: none;
  -o-appearance: none;
  -webkit-appearance: none;
  appearance:none;
  border:none;
  outline:none;
  background: url(/img/arrow2.png) no-repeat right white;
  border-radius: 5px;
  padding:10px;
  width: 26%;
  font-size: 14px;

}

.product_search input[type="search"]{
  padding:10px;
  width:55%;
  border-style: none;
  color:#444;
  border-radius: 5px;
  font-size: 14px;
}
.product_search input[type="submit"]{
  padding:10px;
  width:15%;
  border-style: none;
  background: #06e589;
  color: white;
  border-radius: 5px;
  font-size: 14px;
}





/* category navigation */
.category_nav{
  padding-top:15px;
}
.category_nav li{
  display: inline-block;
  padding-right: 14px;
}
.category_nav li a{
  color: #777;
  text-decoration: none;
  font-size: 14px;
}
.category_nav li a:hover{
  text-decoration: underline;
}





/* center area */
#main {
  margin-top: 20px;
}

/* Search results */
.search_results .title{
  font-weight: bold;
}

.search_results .title:hover{
  text-decoration: underline;;
}
.search_results{
  width: 100%;
}
.search_results td{
  padding:10px;
  vertical-align: top;
  border-bottom: 1px solid rgba(70, 70, 70, 0.2);
  padding-top:20px;
}
.search_results th{
  text-align: left;
  padding:10px;
}

.books_cover{
  width: 10%;
}
.books_description{
  width: 70%;
}
.books_date{
  width: 10%;
}
.books_price{
  width: 10%;
}
.tag{
  display: inline-block;
  background: #E8E8E8;
  padding:5px;
}
/* checkout links (buy and add to basket) */
.checkout_links{
  float: right;
  padding-top: 10px;
}

.checkout_links li a{
  color: #fff;
  padding: 10px;
}
.checkout_links li{
  display: inline-block;
  background: #06e589;
  border-radius: 5px;
  padding: 10px;
}

.checkout_with_quantity{
  padding-top: 10px;
}
.checkout_with_quantity input{
  display: inline-block;
  float: left;

}
.checkout_with_quantity input[type="submit"]{
  background: #06e589;
  border-style: none;
  display: inline-block;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  float: right;
  margin-left:10px;
  outline:none;
}
.quantity_p{
  display: inline-block;
  float: left;
  margin-top:2px;
  padding-right:5px;
}

#cart_qnty{
  width:20px;
}



/* checkout form */
.total_amount_to_pay{
  padding-left:300px;
}
/* submission forms*/

.authentication_title{
  padding-top: 80px;
  padding-left:300px;
  font-size: 28px;
}
.checkout_title{
  padding-top: 80px;
  padding-left:300px;
  font-size: 23px;
}
#submission_form select{
  background: #eee;
  color: #777;
  width: 300px;
  border:none;
  outline:none;
  border-radius: 5px;
  font-size: 14px;
  height: 38px;
  margin-bottom:10px;
}
#submission_form {
  padding-left:300px;
}
#submission_form label{
  display:block;
  margin-bottom:10px;
}
#submission_form input{
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  padding: 10px;
  border-style: none;
  border:1px solid rgba(70, 70, 70, 0.2);
  border-radius: 5px;
  font-size: 14px;
  display: block;
  margin-bottom: 10px;
  width: 300px;
}
#submission_form input[type="submit"]{
  border-style: none;
  background: #06e589;
  border:1px solid rgb(6, 229, 137);
  color: #fff;
  font-size: 14px;
}










footer{
  clear: both;
  text-align: center;
  background: #ccc;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top:50px;
  color: rgb(70, 70, 70);
}






@media (min-width:768px) and (max-width:1500px) {
  footer{
    width: 900px;
    margin: auto;
    margin-top:50px;
  }

  #wrapper {
    max-width:900px;
    margin:auto;
  }
  #wrapper:after{
    content: " ";
    display: table;
    clear: both;
  }
  #innerwrapper {
    margin-left:0;
    margin-right: 0;
  }
  .topbar-content{
    max-width: 900px;
    margin:auto;
  }
  .product_search input[type="search"]{
    outline:none;
  }
  .product_search input[type="submit"]:hover{
    background: #01e189;
  }

  #promotions {
    margin-top: 40px;
  }
  #promotions:after{
    content: " ";
    display: table;
    clear: both;
  }
  #promotions h2{
    padding-top: 40px;
  }
  #promotions p{
    font-weight: bold;
    padding-bottom: 40px;
  }

  .promo_deals_left{
    float: left;
    width:50%;
    background: #d5d5d5;
    color: rgb(70, 70, 70);
    text-align: center;
  }

  .promo_deals_middle{
    float: left;
    width:24%;
    margin-left: 1%;
    margin-right: 1%;
    background: #f9d321;
    text-align: center;
    color: #fff;
  }

  .promo_deals_right{
    float: left;
    color: #fff;
    width:24%;
    background: #87ce3b;
    text-align: center;
  }

  #promotions:after{
      content: " ";
      display: table;
      clear: both;
    }
}
